@page "/bindprop"
@using Model

<h2 class="bg-light border" p-2>
  First Room
</h2>
<p>Room: @Room.RoomName</p>
<p>Price: @Room.Price</p>
<br />
<input type="number" @bind-value="Room.Price" @bind-value:event="oninput" />
<br />
<input type="checkbox" @bind-value="Room.IsActive" @bind-value:event="oninput" checked="@(Room.IsActive? "checked":null)"/>
<br />
<span>This room is @(Room.IsActive? "Active":"InActive")</span>
<br />
<select @bind="SelectedRoomProp">
  @foreach(var prop in Room.RoomProps)
  {
    <option value="@prop.Name">@prop.Name</option>
  }
</select>
<span>The Room prop seleced is : @SelectedRoomProp</span>
<table border="1">

  @foreach (var item in RoomList)
  {
    <tr>
      <td><input @bind-value="item.RoomName" @bind-value:event="oninput" /></td>
      <td><input @bind-value="item.Price" @bind-value:event="oninput" /></td>
      @foreach (var prop in item.RoomProps)
      {
        <td>@prop.Name - @prop.Value</td>
      }
    </tr>
  }
</table>
<br />
<div>
  @foreach (var item in RoomList)
  {
    <p>
      @(item.RoomName)'s Price is @(item.Price)
    </p>
  }
</div>

@code{
  string SelectedRoomProp = "";
  BlazorRoom Room = new BlazorRoom
  {
    Id = 3,
    IsActive = true,
    Price = 123,
    RoomName = "t3",
    RoomProps = new List<BlazorRoomProp> {
        new BlazorRoomProp {Id=1,Name="sq ft",Value="1"},
        new BlazorRoomProp {Id=1,Name="occupancy",Value="1"}
        }
  };
  List<BlazorRoom> RoomList = new List<BlazorRoom>();

  protected override void OnInitialized()
  {
    base.OnInitialized();

    RoomList.Add(new BlazorRoom()
    {
      Id = 1,
      RoomName = "t1",
      IsActive = true,
      Price = 111,
      RoomProps = new List<BlazorRoomProp> {
        new BlazorRoomProp{Id=1,Name="sq ft",Value="100"},
        new BlazorRoomProp{Id=2,Name="occupancy",Value="3"}
      }

    });
    RoomList.Add(new BlazorRoom()
    {
      Id = 2,
      RoomName = "t2",
      IsActive = true,
      Price = 222,
      RoomProps = new List<BlazorRoomProp> {
        new BlazorRoomProp{Id=1,Name="sq ft",Value="200"},
        new BlazorRoomProp{Id=2,Name="occupancy",Value="23"}
      }

    });
  }
}
